/* basics */
.skeleton{
    background: #dddddd;
    margin: 10px 0px;
    border-radius: 5px;
}
.skeleton.text{
    width: 100%;
    height: 12px;
}
.skeleton.title{
    width: 55%;
    height: 20px;
    margin-bottom: 15px;
}
.skeleton.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.skeleton.thumbnail{
    width: 100px;
    height: 100px;
}
.skeleton.landscape{
    width: 300px;
    height: 170px;
}
.skeleton.portrait{
    width: 170px;
    height: 300px;
}
.skeleton-wrapper{
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.skeleton-wrapper.light{
    background: #f2f2f2;
}
.skeleton-wrapper.dark{
    background: #606060;
}
.skeleton-wrapper.dark .skeleton{
    background: #909090;
}
/* animation */
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
}
.skeleton-menu-wrapper{
    margin: 10px 0px;
    height: 50px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 15px 10px 15px;
    position: relative;
    overflow: hidden;
}
.shimmer{
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.2);
    transform: skewX(-20deg);
}
@keyframes loading{
    0%{
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(150%);
    }
}